<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biking Community Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/color-calendar/dist/css/theme-basic.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/color-calendar/dist/css/theme-glass.css" />
    <script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-image: url("/static/group_ride_background_3.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark"> <!-- Created a nav bar for the top of the page but having trouble spacing it out-->
        <ul class="navbar-nav">
            <!--These next three should be to the left-->
            <li class="nav-item px-2">
                <a class="nav-link" href="/bike">Home</a>
            </li>
            <p class="pt-2">|</p>
            <li class="nav-item px-2">
                <a class="nav-link" href="/bike/grouprides">Group Rides</a>
            </li>
            <p class="pt-2">|</p>
            <li class="nav-item px-2">
                <a class="nav-link" href="/bike/myrides">My Rides</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!--These two need to be to the right of the page unlesss we can do this without using the navbar-->
            <li class="nav-item pr-3">
                <a href="/bike/myaccount/{{user.id}}" class="nav-link">My Account</a>
            </li>
            <li class="nav-item px-4"> 
                <a href="/log_out" class="btn btn-secondary" role="button">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="contatiner">
        <div class="row">
            <div class="col mx-3 px-3">
                <h1 class="text-center py-3 display-3">Biking Community</h1>
                <img src= "{% static 'grouprides_main.jpg' %}" alt="Main Home Image" class="w-100 align-content-center py-4">
                <div class="container py-5">
                    <h2 class="text-center">Create A Ride</h2>
                    <h4 class="text-center">Select a Date to Begin</h4>
                    <div class="form-inline justify-content-center">
                        <form action="/bike/gotocreate" method="post">
                            {% csrf_token %}
                            <input type="date" name="date" id="date" class="form-control">
                            <button type="submit" class="btn btn-secondary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col pt-4">
                <h1 class="text-center py-3 display-4">Upcoming Group Rides</h1>
                <div class="container">
                    <div class="text-center" id="color-calendar"></div>
                    <h2 class="text-center pt-3">Selected Events:</h2>
                    <div class="events-display text-center"></div>
                    
                </div>
                {% for ride in rides %}
                <script>
                    var EventData = [
                        {
                            start: '{{ride.dateofride}}',
                            end: '{{ride.dateofride}}',
                            name: '{{ride.ridetitle}}',
                            distance: '{{ride.distance}}',
                            skill_level: '{{ride.skill}}',
                            url: '/bike/joinride/{{ride.id}}',
                        }];
                </script>
                {% endfor %}
                <script>
                    // const EventsData = '{{EventData}}';

                    // console.log(EventsData);
                    let myCal = new Calendar({
                    id: '#color-calendar',
                    calendarSize: 'small',
                    theme: 'glass',
                    eventsData: EventData,
                    headerBackgroundColor: 'orange',
                    primaryColor: '#FF6E35',
                    dateChanged: (currentDate, events) => {
                        const events_display = document.querySelector('.events-display');
                        let events_html = '';
                        console.log(currentDate, events);
                        events.forEach(event => {
                            events_html += `
                                <div class="event">
                                    <div class="event-left">
                                    <div class="event-title mb-2">${event.name}</div>
                                    <div class="event-title mb-2">Ride distance is: ${event.distance} miles with a skill level of ${event.skill_level}</div>
                                    <a href="${event.url}" class="event-url btn btn-success">Look into Ride</a>
                                    </div>
                                    
                                </div>
                            `
                        });
                        if(events_html) {
                            events_display.innerHTML = events_html;
                        } else {
                            events_display.innerHTML = '<div class="no-events-text">No events on this day :(</div>';
                        }
                    }
                })
                </script>
                    
            </div>
        </div>
    </div>
    
    <footer class="text-center mt-4" style="background-color: rgba(0, 0, 0, 0.2);">
                <a href="https://facebook.com" class="fa fa-facebook"></a>
                <a href="https://twitter.com" class="fa fa-twitter"></a>
                <a href="https:/google.com" class="fa fa-google"></a>
                <a href="https://linkedin.com" class="fa fa-linkedin"></a>
                <a href="https://youtube.com" class="fa fa-youtube"></a>
                <a href="https://instagram.com" class="fa fa-instagram"></a>
    </footer>
</body>
</html>