<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Rides</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        body {
            background-image: url("/static/background_3a.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <h3 class="ml-4 text-light">My Rides</h3>
        <ul class="navbar-nav">
            <p class="pt-2 ml-3">|</p>
            <li class="nav-item px-2">
                <a class="nav-link" href="/bike/grouprides">Group Rides</a>
            </li>
            <p class="pt-2 ml-1">|</p>
            <li class="nav-item px-2">
                <a href="/bike/myaccount/{{user.id}}" class="nav-link">My Account</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3">
                <a href="/bike" class="nav-link">Home</a>
            </li>
            <li class="nav-item px-4"> 
                <a href="/log_out" class="btn btn-secondary" role="button">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container mb-3">
        <div class="row">
            <div class="col pt-2 mr-3">
                <h2 class="display-4 text-center pb-3">Rides You Created</h2>
                {% for ride in rides %}
                    {% if ride in user.ridescreated.all %}
                        <div class="table-bordered border-dark p-3">
                            <p><span class="font-weight-bold">Ride Title:</span> {{ride.ridetitle}}</p>
                            <form action="/bike/location/{{ride.id}}/{{ride.startingpoint}}" method="post">
                                {% csrf_token %}
                                <p><span class="font-weight-bold">Ride Starting Point:</span> {{ride.startingpoint}}</p>
                            </form>
                            <a href="https://maps.google.com/?q={{ride.startingpoint}}" target="_blank"> 
                                <button class="btn btn-info mb-3">Show Starting Point</button></a>   
                                
                            <p><a href="/media/{{ride.routefile}}" target="_blank"><span class="font-weight-bold">Route Guide</span></a></p>
                            <p><span class="font-weight-bold">Route Distance:</span> {{ride.distance}}</p>
                            <p><span class="font-weight-bold">Ride Date:</span> {{ride.dateofride}}</p>
                            <p><span class="font-weight-bold">Ride Hosted by:</span> {{ride.ride_creator.fName}} {{ride.ride_creator.lName}}</p>
                            <p><span class="font-weight-bold">Number of Riders Attending is:</span> {{ride.users_joined.all.count}}</p>
                            <div class="text-center">
                                <form action="/bike/join/{{ride.id}}" method="post">
                                    {% csrf_token %}
                                        {% if user not in ride.users_joined.all %}
                                        <button type="submit" class="btn btn-success">Join Ride</button>
                                        {% endif %}
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col pt-2 ml-3">
                <h3 class="display-4 text-center pb-3">My Riding Stats</h3>
                <div class="table-bordered border-dark p-3">
                    <p class="mb-3"><span class="font-weight-bold">Joined Biking Community on:</span> {{user.created_at}}</p>
                    <p><span class="font-weight-bold">Total Number of Rides Joined:</span> {{user.myrides.all.count}}</p>
                    {% if ride in rides %}      <!-- Trying to figure out the right call to get all the miles riden -->
                        <p>Miles Riden Since Joining: {{ride.distance}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
        <a href="https:/google.com" target="_blank" class="fa fa-google"></a>
        <a href="https://linkedin.com" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://youtube.com" target="_blank" class="fa fa-youtube"></a>
        <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>
    </footer>
</body>
</html>