<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biking Community Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light"> <!-- Created a nav bar for the top of the page but having trouble spacing it out-->
        <ul class="navbar-nav">
            <!--These next three should be to the left-->
            <li class="nav-item px-2">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <p class="pt-2">|</p>
            <li class="nav-item px-2">
                <a class="nav-link" href="grouprides.html">Group Rides</a>
            </li>
            <p class="pt-2">|</p>
            <li class="nav-item px-2">
                <a class="nav-link" href="myrides.html">My Rides</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!--These two need to be to the right of the page unlesss we can do this without using the navbar-->
            <li class="nav-item pr-3">
                <a href="myaccount.html" class="nav-link">My Account</a>
            </li>
            <li class="nav-item px-4"> 
                <a href="login.html" class="btn btn-primary" role="button">Log Out</a>
            </li>
        </ul>
    </nav>

</body>
</html>